@page
@using LessOrMoreGame.Models
@using LessOrMoreGame.Pages
@model GameModel
@{
    ViewData["Title"] = "Game page";
}

<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">

    <div class="row py-4" data-question="@((byte)Model.Stat)" id="question">
        <div class="col-12 text-center my-4">
            <h1 id="questionText">@Model.QuestionText</h1>
            <h2 id="streak">Your current streak is: 0</h2>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card bg-dark text-white country-column zoom-hover"
                 id="Country1" data-id="@Model.Country1.ID" style="border-radius: 25px;">
                <img class="card-img country-img" src="@Model.Country1.ImageSource">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h2 class="card-title text-center">@Model.Country1.Name</h2>
                </div>
            </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <div class="card bg-dark text-white country-column zoom-hover"
                 id="Country2" data-id="@Model.Country2.ID" style="border-radius: 25px;">
                <img class="card-img country-img" src="@Model.Country2.ImageSource">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <h2 class="card-title text-center">@Model.Country2.Name</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay correct-overlay-background d-flex justify-content-center align-items-center" id="overlay-correct">
    <svg viewBox="0 0 1024 1024" class="icon overlay-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path d="M511.891456 928.549888c229.548032 0 415.634432-186.0864 415.634432-415.634432C927.525888 283.3664 741.439488 97.28 511.890432 97.28 282.343424 97.28 96.258048 283.3664 96.258048 512.915456c0 229.548032 186.084352 415.634432 415.634432 415.634432" fill="#04ff00"></path>
            <path d="M436.571136 707.376128l330.3936-330.3936c5.506048-5.507072 8.571904-12.803072 8.633344-20.544512 0.060416-7.85408-2.961408-15.235072-8.511488-20.784128 0.001024-0.012288-0.001024-0.002048-0.001024-0.002048l-0.001024-0.001024c-5.410816-5.409792-12.978176-8.489984-20.687872-8.460288-7.810048 0.032768-15.13984 3.081216-20.640768 8.58112l-309.11488 309.116928-94.99648-94.998528c-5.501952-5.501952-12.833792-8.5504-20.642816-8.58112h-0.115712c-7.69536 0-15.186944 3.08224-20.569088 8.465408-11.360256 11.36128-11.307008 29.899776 0.118784 41.325568l109.924352 109.924352a29.017088 29.017088 0 0 0 4.883456 6.474752c5.658624 5.6576 13.095936 8.482816 20.550656 8.481792a29.31712 29.31712 0 0 0 20.77696-8.604672M511.891456 97.28C282.3424 97.28 96.256 283.3664 96.256 512.915456s186.0864 415.634432 415.635456 415.634432c229.548032 0 415.634432-186.085376 415.634432-415.634432C927.525888 283.365376 741.439488 97.28 511.891456 97.28m0 40.96c50.597888 0 99.661824 9.901056 145.82784 29.427712 44.61056 18.868224 84.683776 45.889536 119.10656 80.31232 34.422784 34.422784 61.444096 74.496 80.313344 119.107584 19.525632 46.164992 29.426688 95.228928 29.426688 145.82784s-9.901056 99.662848-29.426688 145.82784c-18.869248 44.61056-45.89056 84.6848-80.313344 119.107584s-74.496 61.443072-119.10656 80.31232c-46.166016 19.526656-95.229952 29.426688-145.82784 29.426688-50.598912 0-99.662848-9.900032-145.828864-29.426688-44.61056-18.869248-84.683776-45.889536-119.10656-80.31232-34.422784-34.422784-61.444096-74.497024-80.313344-119.107584C147.117056 612.57728 137.216 563.514368 137.216 512.915456s9.901056-99.662848 29.426688-145.82784c18.869248-44.611584 45.89056-84.6848 80.313344-119.107584s74.496-61.444096 119.10656-80.31232C412.228608 148.140032 461.292544 138.24 511.891456 138.24" fill="#000000"></path>
        </g>
    </svg>
</div>

<div class="overlay wrong-overlay-background d-flex justify-content-center align-items-center" id="overlay-wrong">
    <svg viewBox="0 0 1024 1024" class="icon overlay-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
            <path d="M511.881216 929.554432c230.109184 0 416.649216-186.540032 416.649216-416.649216S741.9904 96.256 511.881216 96.256 95.232 282.796032 95.232 512.905216s186.540032 416.649216 416.649216 416.649216" fill="#ff0000">
                </path><path d="M698.098688 376.60672L551.447552 523.256832l144.979968 144.979968c5.0688 5.0688 7.891968 11.782144 7.94624 18.905088 0.057344 7.221248-2.720768 14.006272-7.82336 19.10784 0.002048 0.003072-0.001024 0.004096-0.003072 0.004096-4.943872 4.943872-11.829248 7.774208-18.907136 7.774208h-0.113664c-7.185408-0.03072-13.93152-2.835456-18.993152-7.897088L513.553408 561.152 366.901248 707.805184c-5.506048 5.504-12.841984 8.55552-20.655104 8.589312h-0.123904c-7.70048 0-15.194112-3.08224-20.579328-8.46848l-0.004096-0.002048c-5.553152-5.554176-8.577024-12.939264-8.516608-20.799488 0.060416-7.74656 3.129344-15.049728 8.640512-20.558848l146.651136-146.65216-144.978944-144.979968c-5.0688-5.0688-7.891968-11.783168-7.947264-18.907136-0.05632-7.221248 2.722816-14.00832 7.827456-19.110912 4.941824-4.942848 11.8272-7.773184 18.907136-7.773184h0.11264c7.186432 0.03072 13.93152 2.833408 18.993152 7.89504L510.208 482.018304l146.65216-146.65216c5.506048-5.506048 12.843008-8.556544 20.65408-8.590336h0.124928c7.70048 0 15.19616 3.084288 20.5824 8.470528 5.552128 5.55008 8.578048 12.939264 8.516608 20.79744-0.059392 7.748608-3.12832 15.049728-8.640512 20.56192m79.434752 401.95072c-34.515968 34.516992-74.697728 61.611008-119.430144 80.530432-46.28992 19.57888-95.485952 29.507584-146.22208 29.507584-50.736128 0-99.93216-9.928704-146.223104-29.508608-44.731392-18.919424-84.913152-46.012416-119.42912-80.528384-34.515968-34.515968-61.609984-74.697728-80.530432-119.431168C146.11968 612.839424 136.192 563.641344 136.192 512.90624c0-50.736128 9.92768-99.93216 29.50656-146.223104 18.920448-44.731392 46.014464-84.914176 80.530432-119.42912 34.515968-34.515968 74.697728-61.609984 119.42912-80.530432C411.949056 147.14368 461.145088 137.216 511.881216 137.216s99.93216 9.928704 146.22208 29.50656c44.732416 18.920448 84.914176 46.014464 119.42912 80.530432 34.516992 34.514944 61.611008 74.698752 80.531456 119.42912 19.57888 46.291968 29.50656 95.488 29.50656 146.223104 0 50.736128-9.92768 99.93216-29.50656 146.22208-18.920448 44.731392-46.014464 84.9152-80.530432 119.431168M511.881216 96.256C281.772032 96.256 95.232 282.796032 95.232 512.904192 95.232 743.0144 281.772032 929.555456 511.881216 929.555456s416.649216-186.54208 416.649216-416.65024C928.530432 282.796032 741.9904 96.256 511.881216 96.256" fill="#000000"></path>
        </g>
    </svg>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Pages/Game.cshtml.js"></script>
}